.content, .details{
	overflow:hidden;
}
.content .blackbg{
	background:url('../images/company_bg.png');
	width:0;
	height:45px;
	margin-top:130px;
	position:relative;
	
}
.content #blackbg2{
	height:45px;
	width:0;
	margin-left:500px;
	background:#000;
}
.content h2, .details{
	font-family:"chalet";
	font-weight:bold;
}
.content h2{
	color:#fff;
	width:55%;
	font-size:65px;
	position:absolute;
	left:5px;
	top:-5px;
}
/*.blackbg span{
	color:transparent;
	font-size:15px;
}*/

.details{
	margin-left:500px;
	width:555px;
}
.details p{
	display:none;
	margin-top:25px;
	line-height:20px;
}
.details p:last-child{
	padding-bottom:25px;
}
