/*this css contains common styles 
*/

@font-face{
	font-family:chalet;
	src: url('../fonts/ChaletParis.ttf');
}
.navi ul{
	text-align:center;
	font-family:"chalet";
}
.navi ul li{
	display:inline-block;
	text-transform:uppercase;
/*	margin-left:55px;
*/	position:relative;
}
.navi ul li:first-child{
	margin-left:0;
}
.navi ul li .home{
	left:-250px;
}
.navi ul li .info{
	left:-145px;
}
.navi ul li .cmpny{
	left:-70px;
}
.navi ul li .cntct{
	left:60px;
}
.navi ul li .clnts{
	left:180px;
}
.navi ul li a{
	display:none;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	position:absolute;
	left:0;
	top:0;
/*	top:40px;
*/
}
.footer{
	font-family:"chalet";
	font-weight:bold;
	text-align:center;
	position:absolute;
/*	bottom:5px;
*/	top:100%;
	left:40%;
	width:300px;
}