/*file starts here */
body{
	text-align:center;
	height:900px;
	overflow:hidden;
}
.navi, .footer{
	font-family:"chalet";
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
.navi ul li{
	position:absolute;
	top:55%;
	/*left:0;
		right:0;*/
	display:inline;
	text-transform:uppercase;
	overflow:hidden;
}
.navi ul li a{
	text-decoration:none;
	color:#000;
}
.footer{
	font-size:13px;
	position:absolute;
	bottom:0;
	width:100%;
}
.footer p{
	bottom: -30px;
	left: 0;
	padding-top: 10px;
	position: absolute;
	right: 0;
}
@font-face{
	font-family:chalet;
	src: url('../fonts/ChaletParis.ttf');
}

























