.clients{
	text-align:center;
	margin-top:150px;
}
.clients ul li{
	display:inline;
/*	margin-left:100px;
*/
}
.clntbg span{
	z-index:-1;
	opacity:0.05;
	font-family:Comic Sans MS;
	font-size:22em;
	font-weight:bold;
	text-shadow: 0 0 2px #000;
	margin-top:100px;
	position:fixed;
	/*top:25px;*/
	top:100%;
}
.clntbg #L{
	left:300px;
	
}
.clntbg #sngl{
	left:450px;
}
.clntbg #N{
	left:580px;
}
.clntbg #O{
	left:820px;
}
.clntbg #I{
	right:575px;
}
.clntbg #R{
	right:270px;
}