/*file starts here */
/*@font-face{
	font-family:chalet;
	src: url('../fonts/ChaletParis.ttf');
}*/
body{
}
.ltPanel{
	float:left;
}
.ltPanel img{
	margin-left:75px;
	/*padding-bottom:17px;
	background:#000;*/
	/*position:fixed;
		top:0;
		left:0;*/
	height:100%;
}
.navi, .rtPanel{
	font-family:"chalet";
}
.rtPanel{
	display:block;
	background:#000;
	color:#fff;
	/*padding-left:90px;*/
	/*padding-right:90px;*/
	position:absolute;
	top:0;
	left:421px;
	/*width:470px;*/
	width:615px;
	height:100%;
	padding-bottom:7px;

}
.rtPanel .info p{
	margin-left:auto;
	margin-right:auto;
	line-height:20px;
	width:435px;
	margin-top:20px;
	display:none;
}
.rtPanel p:first-child{
	margin-top:50px;
}
.navi{
	font-family:"chalet";
	font-weight:normal;
/*	margin-bottom:55px;
*/	/*margin-top:60px;*/
	
}
.navi ul{
	/*margin-left:-30px;*/
	text-align:center;
}
.navi ul li{
	display:inline;
	text-transform:uppercase;
	position:relative;
	/*margin-left:55px;*/
}
.navi ul li a{
	text-decoration:none;
	color:#e2e2e2;
	position:absolute;
	top:0;
	display:none;
/*	top:55px;
*/}
.navi ul .home{
	left:-265px;
}
.navi ul .info{
	left:-165px;
}
.navi ul .cmpny{
	left:-77px;
}
.navi ul .cntct{
	left:65px;
}
.navi ul .clnts{
	left:200px;
}

.footer p{
	text-align:center;
	color:#e2e2e2;
	padding-top:45px;
}


























