@font-face{
	font-family:chalet;
	src: url('../fonts/ChaletParis.ttf');
}

.bg{
	background:grey;
}
body, .left p input{
	font-family:"chalet";
	font-size:20px;
}
.left{
	float:left;
	margin-left:250px;
	margin-top:50px;
	
}
.left label{
	display:inline-block;
	width:120px;
}
.left input{
	margin-left:20px;
	margin-top:20px;
	height:25px;
}
.left p input, .btn{
	border:2px solid #fff;
	padding:5px 10px 5px 10px;
	font-weight:bold;
	margin-left:218px;
	height:auto;
}
.right{
	float:right;
	margin-right:250px;
	margin-top:50px;
	
}
.svdEntrs{
	display:inline-block;
	margin-top:35px;
	margin-left:100px;
	width:auto;
}
.svdEntrs ul li{
	display:inline;
	margin-left:50px;
	font-size:28px;
}
.sort{
	border:1px solid #000;
	padding:25px 10px 0 35px;
}
.search{
	margin-top:50px;
	margin-left:35px;
}
.search .btn{
	margin-left:0;
	margin-top:10px;
	float:right;
	margin-right:10px;
}
#searchText{
	margin-left:55px;
	height:25px;
	width:140px;
}
#errMsg{
	color:#ffffff;
}
.srchRslts{
	margin-top:70px;
}